
@{
    ViewBag.Title = "Iletisim";
}
<div class="well well-sm">
    <h3><strong>İletişim</strong></h3>
</div>

<section id="contact">


    <div class="row">
        <div class="col-md-7">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3022.8902697098!2d30.323438315405955!3d40.74243997932856!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14ccaded70ee240b%3A0xd81085b5551312fd!2sBilgisayar+Ve+Bili%C5%9Fim+Bilimleri+Fak%C3%BCltesi!5e0!3m2!1str!2str!4v1523037323754" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
        </div>
        <div class="col-md-5">
            <form>
                <legend><span class="glyphicon glyphicon-globe"></span> Adresimiz</legend>
                <address>
                    <strong>TenisKortu</strong><br>
                    Sakarya Üniversitesi<br>
                    Bilgisayar ve Bilişim Bilimleri Fakültesi<br>
                    No:1203<br>
                    Sakarya/TÜRKİYE<br>
                    <strong>Telefon: </strong>
                    (0264) 264 64 64
                </address>
                <address>
                    <strong>Mail: </strong>
                    <a href="mailto:#">info@teniskortu.com</a>
                </address>
            </form>
        </div>
    </div>

</section>
