
@{
    ViewBag.Title = "UyeOl";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


        <form class="form-signin" action="index.html">
            <div class="login-wrap">
                <input type="text" class="form-control" placeholder="Ad-Soyad" autofocus>
                <input type="text" class="form-control" placeholder="E-mail" autofocus>
                <input type="text" class="form-control" placeholder="Adres" autofocus>
                <div class="radios">
                    <label class="label_radio col-lg-6 col-sm-6" for="radio-01">
                        <input name="sample-radio" id="radio-01" value="1" type="radio" /> Erkek
                    </label>
                    <label class="label_radio col-lg-6 col-sm-6" for="radio-02">
                        <input name="sample-radio" id="radio-02" value="1" type="radio" /> Kadın
                    </label>
                </div>
                <input type="text" class="form-control" placeholder="Kullanıcı Adı" autofocus>
                <input type="password" class="form-control" placeholder="Şifre">
                <button class="btn btn-lg btn-login btn-block" type="submit">Üye Ol</button>
            </div>
        </form>

